<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391037244507-bs8js3j854hanjfa6ssl1snemmpf92nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391037244507-bs8js3j854hanjfa6ssl1snemmpf92nf</string>
	<key>API_KEY</key>
	<string>AIzaSyBTKNwunWUsSGPRnatAG0fZNt7xw2YDFaE</string>
	<key>GCM_SENDER_ID</key>
	<string>391037244507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mytask</string>
	<key>PROJECT_ID</key>
	<string>mytask-207bf</string>
	<key>STORAGE_BUCKET</key>
	<string>mytask-207bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391037244507:ios:59a537e09f64f7b48b1b7e</string>
</dict>
</plist>